.appointments {
    height:375px;
    width:100%;
    position:relative;
    background-image: url(../../../images/chairBg.png);
    background-size: cover;
}
.appointments::after{
    height:100%;
    content:' ';
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    background-color: #3A4256;
    opacity: 9;
    z-index: -50;
}

.doctor{
    transform : translateY(-124px);
    height : 500px;
}
.appointments{
    margin-top: 180px;
}