.appointments {
    height:425px;
    width:100%;
    position:relative;
    background-image: url(../../../images/chairBg.png);
    background-size: cover;
}
.appointments::after{
    height:100%;
    content:' ';
    position: absolute;
    top: 0;
    width: 100%;
    right: 0;
    background-color: #3A4256;
    opacity: 9;
    z-index: -50;
}

.doctor{
    transform : translateY(-124px);
    height : 550px;
}
.appointments{
    margin-top: 180px;
}
.appointments-img{
    margin-bottom: -100px;
}

@media only screen and (max-width: 769px) {
    .appointmentSection {
      height: 920px;
    }
  }

  @media only screen and (max-width: 769px) {
    .appointmentSection p,h2{
      color : black
    }
  }