.footer-section{
    background-image: url(../../../images/footer-bg.png);
    height: 500px;
    background-size: cover;
}

.icon{
    margin: 15px;
    font-size: 35px;
    color: #5faec7;
    border: 2px solid #5faec7;
    border-radius: 20px;
}